@import url("font-awesome.css");

body {
	background-image: url("images/overlay.png"), url("images/bg.jpg");
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	font-family: sans-serif;
    color:#222222;
}

header {
    font-family: 'Times New Roman', 'Microsoft YaHei';
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    color: #000000;
}

section, article {
	margin-bottom: 3em;
}

	section > :last-child, section:last-child, article > :last-child, article:last-child {
		margin-bottom: 0;
	}

/* Icons */
.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* Nav */
#nav a {
	position: relative;
	display: inline-block;
	color: #ffffff;
	width: 1em;
	height: 1em;
	line-height: 0.9em;
}

#nav a.icon:before {
	padding-right: 0;
}

/* Panels */
#main {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
#main a:link {text-decoration: none;color: blue}        
#main a:hover { text-decoration:underline;color: red}
#main a:visited { text-decoration: none;color:red}

#publication a:link{text-decoration: none;color: blue}
#publication a:hover{text-decoration: underline;color: blue}
#publication a:visited{text-decoration: none;color: blue}

/* Footer */
#footer {
	color: rgba(255, 255, 255, 0.45);
}

#footer .copyright li {
	display: inline-block;
}

#footer .copyright li:before {
	display: inline;
	content: '\2022';
	opacity: 0.5;
	padding: 0 0.75em 0 0.75em;
}

#footer .copyright li:first-child:before {
	display: none;
}

/* Desktop */
@media screen and (min-width: 737px) {

	/* Basic */
	html {
		min-width: 100%;
		min-height: 100%;
	}

	body {
		width: 100%;
		min-width: 1000px;
		min-height: 100%;
		overflow-y: scroll;
		background-attachment: fixed;
	}

    .panel {
        padding: 0.5em 1em;
        position: relative;
        border-radius: 25px;
	}

	/* Wrapper */
	#wrapper {
		width: 45em;
		margin: 0 auto;
		opacity: 0.00001;
	}

	/* Nav */
	#nav {
		text-align: center;
		height: 4.05em;
		cursor: default;
	}

		#nav a {
			font-size: 2.5em;
			margin: 0 0.25em 0 0.25em;
			opacity: 0.35;
			outline: 0;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
			-ms-transition: opacity .25s ease-in-out;
			transition: opacity .25s ease-in-out;
		}

			#nav a:before {
				font-size: 0.8em;
			}

			#nav a:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				bottom: -0.75em;
				margin-left: -0.5em;
				border-bottom: solid 0em #ffffff;
				border-left: solid 0.5em transparent;
				border-right: solid 0.5em transparent;
				-moz-transition: border-bottom-width .25s ease-in-out;
				-webkit-transition: border-bottom-width .25s ease-in-out;
				-ms-transition: border-bottom-width .25s ease-in-out;
				transition: border-bottom-width .25s ease-in-out;
			}

			#nav a span {
				display: block;
				position: absolute;
				background: #222222;
				color: #ffffff;
				top: -2.75em;
				font-size: 0.3em;
				height: 2.25em;
				line-height: 2.25em;
				left: 50%;
				opacity: 0.0001;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-3out;
				-ms-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;
				width: 7em;
				margin-left: -3.5em;
			}

				#nav a span:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -0.4em;
					left: 50%;
					margin-left: -0.6em;
					border-top: solid 0.6em #222222;
					border-left: solid 0.6em transparent;
					border-right: solid 0.6em transparent;
				}

			#nav a:hover {
				opacity: 1.0;
			}

				#nav a:hover span {
					opacity: 1.0;
				}

			#nav a.active {
				opacity: 1.0;
			}

				#nav a.active:after {
					border-bottom-width: 0.5em;
				}

	#main {
		width: 45em;
		background: #ffffff;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
	}

	#footer {
		text-align: center;
		padding: 2em 0 0 0;
		font-size: 0.75em;
	}
}