html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

header {
    font-family: Arial, Helvetica,'Microsoft YaHei', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    color: #000000;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

body {
	background-color: #626167;
	font-family: Arial, Helvetica,'Microsoft YaHei', sans-serif;
	color:#222;
	font-size: 15pt;
}

	body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	@media screen and (max-width: 736px) {
		body {
			font-size: 11pt;
			line-height: 1.75em;
		}
	}

/* Article */
article {
	margin-bottom: 1em;
}

/* video */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
   }
   .video-container iframe,
   .video-container object,
   .video-container embed {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
   }
/* image */
.image_carousel img {
	box-shadow: 0px 0px 10px 3px #ccc;
	-webkit-box-shadow: 0px 0px 10px 3px #ccc;
	-moz-box-shadow: 0px 0px 10px 3px #ccc;
}
/* Email */
.hide { display: none; }
.mock { }
.unselectable { /* http://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable */
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-o-user-select: none;
    user-select: none;
}

/* Nav */
#nav {
	text-align: center;
	height: 4.25em;
	cursor: default;
}

	#nav a {
		position: relative;
		display: inline-block;
		color: #ffffff;
		width: 1em;
		height: 1em;
		line-height: 0.9em;
		font-size: 2.5em;
		margin: 0 0.25em 0 0.25em;
		opacity: 0.35;
		outline: 0;
		text-decoration:none;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
	}

		#nav a:before {
			font-size: 0.8em;
		}

		#nav a:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			bottom: -0.7em;
			margin-left: -0.5em;
			border-bottom: solid 0em #ffffff;
			border-left: solid 0.5em transparent;
			border-right: solid 0.5em transparent;
			-moz-transition: border-bottom-width .25s ease-in-out;
			-webkit-transition: border-bottom-width .25s ease-in-out;
			-ms-transition: border-bottom-width .25s ease-in-out;
			transition: border-bottom-width .25s ease-in-out;
		}

		#nav a span {
			display: block;
			position: absolute;
			background: #222222;
			color: rgb(255, 226, 0);
			top: -2.75em;
			font-size: 0.3em;
			height: 2em;
			line-height: 2em;
			text-align:center;
			border-radius: 5px;
			left: 50%;
			opacity: 0.00001;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
			-ms-transition: opacity .25s ease-in-out;
			transition: opacity .25s ease-in-out;
			width: 7em;
			margin-left: -3.5em;
		}

			#nav a span:after {
				content: '';
				display: block;
				position: absolute;
				bottom: -0.5em;
				left: 50%;
				margin-left: -0.5em;
				border-top: solid 0.6em #222222;
				border-left: solid 0.6em transparent;
				border-right: solid 0.6em transparent;
			}

		#nav a:hover {
			opacity: 1.0;
		}

			#nav a:hover span {
				opacity: 1.0;
			}

		#nav a.active {
			opacity: 1.0;
		}

			#nav a.active:after {
				border-bottom-width: 0.5em;
			}

	@media screen and (max-width: 980px) {

		#nav a span {
			display: none;
		}

	}

/* Wrapper */
#wrapper {
	width: 45em;
	margin: 0 auto;
	padding: 2em 0 0;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: block;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

	body.is-preload #wrapper {
		opacity: 0;
	}

	@media screen and (max-width: 1280px) {
		#wrapper {
			padding: 2em 0 0;
			max-width: calc(100% - 6em);
		}

	}

	@media screen and (max-width: 980px) {

		#wrapper {
			padding: 1.5em 0;
			max-width: calc(100% - 8em);
		}

	}

	@media screen and (max-width: 736px) {

		#wrapper {
			padding: 0.5em 0;
			max-width: calc(100% - 2em);
		}

	}

	@media screen and (max-width: 360px) {
		#wrapper {
			padding: 0.5em 0;
			max-width: 100%;
		}
	}

.panel {
	padding: 0.5em 1em;
	position: relative;
	border-radius: 15px;
}
	@media screen and (max-width: 736px) {
		.panel {
			border-radius: 10px;
		}
	}
/* Main */
#main {
	position: relative;
	overflow: hidden;
	background: #ffffff;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
	-moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
	#main a{color:#488AC7;text-decoration:none}
	#main a:hover,a:focus{color:#165895;text-decoration:underline;}
	#main a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}

	#main > .panel {
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		margin-bottom: 0;
	}

		#main > .panel.inactive {
			opacity: 0;
		}

		@media screen and (max-width: 736px) {

			#main > .panel {
				padding: 0.5em 0;
			}

			.mobilehide {
				display:none;
			}
		}

/* Footer */
#footer {
	color: rgba(255, 255, 255, 0.45);
	font-size: 0.6em;
	text-align: center;
	line-height: 1.5em;
	padding: 0 0 0 0;
}
	#footer .copyright li {
		display: block;
		list-style: none;
	}
		#footer .copyright li:before {
			list-style: none;
			display: inline;
			content: '\2022';
			opacity: 0.5;
			padding: 0 0 0 0;
		}

		#footer .copyright li:first-child:before {
			list-style: none;
			display: none;
		}

	@media screen and (max-width: 736px) {
		#footer {
			font-size: 0.5em;
			line-height: 2.5em;
		}
			#footer .copyright li {
				padding-left: 0.5em;
				margin-left: 0.5em;
			}
	}